body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Open Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 14px;
color: #fff;
background-color: hsl(218, 28%, 13%);
}

/* HEADER SECTION*/
    header {
        display: flex;
        width: 100%;
        padding: 80px;
        justify-content: space-between;
        align-items: center;
    }
        .header-img {
        display: inline-block;
        width: 176px;
        }
        .header-nav {
        display: inline-block;
        }
            .header-nav > a{
            display: inline-block;;
            text-decoration: none;
            color: #ffffff;
            float: left;
            margin: 0px 30px;
            font-family: 'Raleway';
            }

/* HERO SECTION */
    .hero-row {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: #fff;
    }
        .hero-row > img {
            display: inline-block;
            width: 50%;
            margin-bottom: 30px;
        }
        .title {
            display: inline-block;
            width: 50%;
            margin: 0 25%;
            font-weight: 700;
            font-size: 35px;
            line-height: 50px;
            margin-bottom: 35px;
        }
        .sub-title {
            display: inline-block;
            width: 45%;
            margin: 0 30%;
            font-size: 19px;
            margin-bottom: 30px;
            line-height: 28px;
            font-weight: 400;
        }
        .hero-row > a {
            display: inline-block;
            width: 280px;
            text-decoration: none;
            color: #ffffff;
            border-radius: 28px;
            height: 56px;
            line-height: 56px;
            background-image: 
                linear-gradient(130deg, 
                hsl(176, 68%, 64%), 
                hsl(198, 60%, 50%));
            }

/* SERVICES SECTION */
    .services-section {
        display: inline-block;
        margin: 120px 15%;
        width: 70%;
        text-align: center;
    }
        .services {
            display: inline-block;
            width: 44%;
            margin: 2%;
        }
            .services > img {
                height: 80px;
                margin-bottom: 30px;
            }
            .services > h4 {
                font-size: 18px;
                margin-bottom: 10px;
            }
            .services > p {
                margin-bottom: 40px;
            }

/* STAY PRODUCTIVE SECTION */
    .stay-productive-section {
        display: inline-block;
        float: left;
        width: 90%;
        margin: 0 5%;
    }
        .left-img > img {
            display: inline-block;
            width: 50%;
            float: left;
            height: 400px;
        }
        .stay-productive-section h1 {
            display: inline-block;
            float: left;
            width: 30%;
            margin-left: 4%;
            margin-right: 10%;
            font-size: 35px;
            line-height: 50px;
            margin-bottom: 15px;
        }
        .stay-productive-section p {
            display: inline-block;
            float: left;
            width: 40%;
            margin: 10px 4%;
        }
        .stay-productive-section a {
            display: inline-block;
            margin-left: 4%;
            margin-top: 10px;
            text-decoration: none;
            padding-bottom: 2px;
            color: hsl(176, 68%, 64%);
            border-bottom: 1px solid hsl(176, 68%, 64%);
        }

/* TESTIMONIALS SECTION */
    .testimonials-section {
        display: inline-block;

    }
        .testimonials-bg {
            display: inline-block;

        }
        .bg-quote{
            display: inline-block;

        }
        .profile-1 {
            display: inline-block;

        }
        .profile-2 {
            display: inline-block;

        }
        .profile-3 {
            display: inline-block;

        }
            .quote {
                display: inline-block;

            }
                .quote p {
                    display: inline-block;

                }
            .author {
                display: inline-block;

            }
                .author img {
                    display: inline-block;

                }
                .name {
                    display: inline-block;

                }
                .position {
                    display: inline-block;

                }

/* GET STARTED SECTION */
    .get-started-section {
        display: inline-block;

    }
        .get-started-section > h2 {
            display: inline-block;

        }
        .get-started-section > p {
            display: inline-block;

        }
        form {
            display: inline-block;

        }
            .form-row {
                display: inline-block;

            }
                input {
                    display: inline-block;

                }

/* FOOTER SECTION */
    .container {
        display: inline-block;

    }
        .footer-logo {
            display: inline-block;

        }
            .footer-Fylo {
                display: inline-block;

            }
            .location {
                display: inline-block;

            }
            .footer-logo > p {
                display: inline-block;

            }
        .contacts {
            display: inline-block;

        }
            .contacts img {
                display: inline-block;

            }
            .contacts a {
                display: inline-block;

            }
        .footer-nav {
            display: inline-block;

        }
            .footer-nav a {
                display: inline-block;

            }
        .socials {
            display: inline-block;

        }
            .socials a {
                display: inline-block;

            }
        .attribution {
            display: inline-block;

        }