body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Open Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 14px;
background-color: hsl(218, 28%, 13%);
}

/* HEADER SECTION*/
    header {
        display: flex;
        width: 100%;
        padding: 80px;
        justify-content: space-between;
        align-items: center;
    }
        .header-img {
        display: inline-block;
        width: 176px;
        }
        .header-nav {
        display: inline-block;
        }
            .header-nav > a{
            display: inline-block;;
            text-decoration: none;
            color: #ffffff;
            float: left;
            margin: 0px 30px;
            font-family: 'Raleway';
            }

/* HERO SECTION */
    .hero-row {

    }
        .hero-row > img {

        }
        .title {

        }
        .sub-title {

        }
            .sub-title > a {

            }

/* SERVICES SECTION */
    .services-section {

    }
        .services {

        }
            .services > img {

            }
            .services > h4 {

            }
            .services > p {

            }

/* STAY PRODUCTIVE SECTION */
    .stay-productive-section {

    }
        .stay-productive {

        }
        .stay-productive-section > h2 {

        }
        .stay-productive-section > p {

        }
        .stay-productive-section > a {

        }
        .arrow {

        }

/* TESTIMONIALS SECTION */
    .testimonials-section {

    }
        .testimonials-bg {

        }
        .bg-quote{

        }
        .profile-1 {

        }
        .profile-2 {

        }
        .profile-3 {

        }
            .quote {

            }
                .quote p {

                }
            .author {

            }
                .author img {

                }
                .name {

                }
                .position {

                }

/* GET STARTED SECTION */
    .get-started-section {

    }
        .get-started-section > h2 {

        }
        .get-started-section > p {

        }
        form {

        }
            .form-row {

            }
                input {

                }

/* FOOTER SECTION */
    .container {

    }
        .footer-logo {

        }
            .footer-Fylo {

            }
            .location {

            }
            .footer-logo > p {

            }
        .contacts {

        }
            .contacts img {

            }
            .contacts a {

            }
        .footer-nav {

        }
            .footer-nav a {

            }
        .socials {

        }
            .socials a {

            }
        .attribution {

        }